.top-section {
    display: flex;
    width: 80%;
    margin-top: 2%;
    margin-left: 6%;
    justify-content: space-around;
  }
  
  .section-image img {
    width: 540px;
    height: 440px;
    border-radius: 5px;
  }
  
  .section-text {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .section-text h3 {
    font-size: 23px;
  }
  
  .section-text p {
    font-size: 20px;
  }
  
  .see-also {
    margin-left: 7%;
  }
  
  .activity-list {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .Button1 {
    width: 130%;
  }