body {
  background-color: black;
}

*:focus {
  outline: none;
}

.landingPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  font-family: "roboto", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  padding-left: 5vw;
  padding-top: 20vh;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    -webkit-linear-gradient(left, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%, rgba(
            0,
            0,
            0,
            0
          )
          80%, rgba(0, 0, 0, 0.9) 100%),
    url(../assets/lambo.jpeg);
}

.title {
  color: rgb(220, 220, 220);
  margin-bottom: 10%;
  text-align: center;
}

.text {
  color: rgb(220, 220, 220);
  padding-top: 28%;
  margin-bottom: 5%;
  text-align: center;
}

.activity {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: -3%;
  margin-right: 2%;
  width: 100%;
}

.header {
  margin-top: -9.8%;
}
